body{
    background-color: rgb(0, 0, 250);
    color: rgb(255, 255, 255);
}
p{
  font-size: 20px;
}
.header{ 
  size: 5em; 
  color: #f1f1f1;
}
  
  .header > div {
    background-color: #f1f1f1;
  }
  